@import url('./fonts.css');

:root {
  --endava-orange: rgb(255, 86, 64);
  --endava-bg: rgb(25,43,55);

  --endava-light-font: 'DavaSans-Light', sans-serif;
}

.endava-color {
  color: var(--endava-orange);
}

.endava-bg {
  background-color: var(--endava-bg);
}

body {
  font-family: 'DavaSans-Medium', sans-serif !important;
}

nav {
  font-family: 'DavaSans-Light', sans-serif !important;
}

  nav .navbar-toggler {
    padding: 0;
    border: none;
    border-radius: 0;
    width: 35px;
    height: 35px;
    position: relative;
    box-shadow: none !important;
  }

    nav .navbar-toggler .endava-toggler-icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 35px;
      height: 35px;
      background-color: var(--endava-orange);
      transition: opacity 0.4s ease-in-out;
    }

      nav .navbar-toggler .endava-toggler-icon.menu-icon {
        -webkit-mask: url('./icons/menu.svg') no-repeat center/contain;
        mask: url('./icons/menu.svg') no-repeat center/contain;
        opacity: 1;
      }

      nav .navbar-toggler .endava-toggler-icon.close-icon {
        -webkit-mask: url('./icons/close.svg') no-repeat center/contain;
        mask: url('./icons/close.svg') no-repeat center/contain;
        opacity: 0;
      }

      nav .navbar-toggler[aria-expanded="true"] .endava-toggler-icon.menu-icon {
        opacity: 0;
      }

      nav .navbar-toggler[aria-expanded="true"] .endava-toggler-icon.close-icon {
        opacity: 1;
      }

footer {
  font-family: 'DavaSans-Light', sans-serif !important;
}

  footer a {
    color: rgb(255, 86, 64);
    text-decoration: none;
  }

  footer a:hover {
    text-decoration: underline;
  }

  footer img.endava-symbol {
    width: 13px;
  }

  footer FaHeart{
    color: var(--endava-orange);
  }